.kapsayici {
    background-color: #000000   ;
}
.nav-link{
    color: #ffffff;
    font-family: 'Pattaya', sans-serif;
    font-size: 0.8cm;   
}

.yuk{
    height: 70vh;
}

    
.hakkimizda{
        background-color:#d1d1d1 ;
        font-family: 'Courier Prime', monospace;
}
.ayrac{
    border:none;
    border-top: 3px solid #000000;
    max-width: 250px;
    margin: 25px auto;
}
.ikon{
    color: #414141;
    position: relative;
    top: -60px;
    font-size: 40px;
    border: 10px solid #d1d1d1;
    background-color: #d1d1d1;
}
.footer{
    background-color: #000000;
    color: #ffffff;
}
.logo{
    height: 100px;
}
.mob{
    color:#ffffff;
}
table {
    font-family: 'Nova Square', cursive;
    border-collapse: collapse;
    width: 75%;
  }
  
  td, th {
    border: 5px solid #000000;
    text-align: left;
    padding: 10px;
  }

body{
    margin: 0;
    padding: 0; 
    background-color: #d1d1d1;
}
.safranbolu>img:hover{
    opacity: 0.9;
}
.safranbolu{
    height: 600 px;
    width: 1000px;
    background-color: #d1d1d1;

}
.ayraciletisim{
    border:none;
    border-top: 3px solid #000000;
    max-width: 1000px;
    margin: 25px auto;
}
.ikoniletisim{
    color: #414141;
    position: relative;
    top: -60px;
    font-size: 40px;
    border: 10px solid #d1d1d1;
    background-color: #d1d1d1;
}

